{% extends 'base.html'%}
{% block title %}{{messages['home']}}{% endblock %}
{% block content %}
<div class="container-sm text-center">
  <h1 class="display-3">{{messages['hometitle']}}</h1>
  <p class="lead">{{messages['homedescription1']}}</p>
  <hr class="my-4">
  <p>{{messages['homedescription2']}}</p>
  <div class="d-flex justify-content-center">
    <a href="{{url_for('auth.login', lang=lang)}}" class="btn btn-primary mx-2">{{messages['login']}}</a>
    <a href="{{ url_for('auth.register', lang=lang)}}" class="btn btn-secondary mx-2">{{messages['signup']}}</a>
  </div>
</div>
{% endblock %}