*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu{
  background-color: gray;
  padding: 10px 0;
}
.menu-nav{
  list-style: none;
  padding: 0;
  padding-left: 7px;
  margin: 0;
}
.menu-nav__item, a{
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}
.menu-nav__item, a:hover{
  color: rgb(222, 77, 77);
}
.menu-nav__item, a:active{
  color: rgb(82, 82, 190);
}
.menu-nav__item, a::after{
  content: " | ";
}
section{
  width: 100%;
  height: 300px;
  padding: 20px;
  background-color: rgb(170, 170, 193);
}