{% extends 'base.html' %}
{% block content %}
<section class="container-fluid">
  <nav class="navbar">
    <h1>{% block title %}{{messages['tasks_title']}}{% endblock %}</h1>
    <a href="{{url_for('todo.create', lang=lang)}}" class="btn btn-success">{{messages['tasks_button1']}}</a>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th class="col">{{messages['tasks']}}</th>
        <th class="col">{{messages['status']}}</th>
        <th class="col" colspan="2">{{messages['option']}}</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos | reverse %}
      {% if g.user.id == todo.created_by %}
      <tr>
        <td>
          <h5>{{ todo.title }}</h5>
          <p>{{ todo.desc }}</p>
        </td>
        <td>
          {% if todo.state == True %}
          <span class="badge rounded-pill bg-success text-white">{{messages['task_done']}}</span>
          {% else %}
          <span class="badge rounded-pill bg-warning text-white">{{messages['to_do']}}</span>
          {% endif %}
        </td>
        <td>
          <a href="{{url_for('todo.update', id = todo.id, lang=lang)}}" class="btn btn-info btn-sm">{{messages['task_edit']}}</a>
          <a href="{{url_for('todo.delete', id = todo.id, lang=lang)}}" class="btn btn-danger btn-sm">{{messages['task_delete']}}</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}