<footer class="bg-dark p-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h3 class="text-light">También puedes contactarnos</h3>
        <p class="text-light">
          Si tienes alguna pregunta o te interesa trabajar con nosotros, nos
          puedes contactar por medio de nuestras redes sociales.
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="text-light mb-4 text-end">REDES SOCIALES</h3>
        <div class="d-flex justify-content-end">
          <a class="social-icons" href=""
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a class="social-icons" href=""
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a class="social-icons" href=""
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a class="social-icons" href=""><i class="fa-brands fa-x"></i></a>
          <a class="social-icons" href=""
            ><i class="fa-brands fa-tiktok"></i
          ></a>
        </div>
      </div>
    </div>
    <hr class="bg-light mt-4" style="color: aliceblue;" />
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="text-secondary">©️ 2024, todos los derechos reservados.</p>
      </div>
      <div class="col-md-6">
        <p class="text-end text-secondary">
          Creado con pasión ❤️ por SPACECODE para quienes piensan diferente 💡 y buscan la
          belleza en la innovación ✨
        </p>
      </div>
    </div>
  </div>
</footer>
